<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=192.168.21.94;Initial Catalog=WwebProdBradesco;Persist Security Info=True;User ID=sa;Password=Admin357/" name="ConnString"/>
    <!--<add connectionString="Data Source=192.168.21.94;Initial Catalog=NewWhatsDB;Persist Security Info=True;User ID=sa;Password=Admin357/" name="ConnString"/>-->
  </connectionStrings>

  <appSettings>
    <add key="application.telefoneorcozol" value="11953183151"/>
    <add key="application.carteira" value="Bradesco - Boletos"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
