html {
    clear: both;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

body {
    clear: both;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS';
    background-image: url('img/bg-12.jpg');
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    font-family: 'Trebuchet MS';
}

#btn_confirmar {
    cursor: pointer;
    padding: 10px;
}

    #btn_confirmar:hover {
        background-color: #fff;
        color: #fff;
    }
