.content_create {
    font-weight: bold;
    color: #efdfdf;
    float: left;
    width: 500px;
}

    .content_create div {
        width: 99%;
        font-weight: normal;
        border: none;
        padding: 2px;
    }

    .content_create .display-label {
        font-weight: bold;
        color: #333333;
        height: 20px;
    }

    .content_create .display-field {
        font-size: 12px;
        font-weight: bold;
    }

    .content_create .field-validation-error {
        color: red;
    }

    .content_create p {
        float: right;
        margin-right: 0px;
    }

    .content_create table {
        width: 100%;
    }

        .content_create table tr {
            border-bottom: 1px solid #efefef;
        }

            .content_create table tr:hover {
            }

            .content_create table tr td {
                height: 10px;
                border-bottom: 1px solid #efefef;
            }

#content_mensagem {
    float: left;
    width: 100%;
    border: 1px solid #efefef;
    height: 300px;
    overflow-y: scroll;
}

.content_mensagem_item {
    padding: 5px;
    font-size: 12px;
    color: #666666;
    border-bottom: 2px solid #efefef;
    margin-bottom: 10px;
    text-align: left;
}

    .content_mensagem_item:hover {
        background-color: #efefef;
        cursor: pointer;
        color: red;
    }

#msg-orcozol {
    width: 88%;
    border: 1px solid #dbdbdb;
    float: left;
    margin-top: 10px;
    padding: 5px;
    margin-left: 30px;
    background-color: #fff;
}

#msg-orcozol-expirada {
    width: 88%;
    border: 1px solid #fee9e9;
    float: left;
    margin-top: 10px;
    padding: 5px;
    margin-left: 30px;
    background-color: #fee9e9;
}

#msg-orcozol-finalizada {
    width: 88%;
    border: 1px solid #D6F4D0;
    float: left;
    margin-top: 10px;
    padding: 5px;
    margin-left: 30px;
    background-color: #D6F4D0;
}

#msg-cliente {
    width: 88%;
    border: 1px solid #D6F4D0;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    padding: 10px;
    background-color: #f0feed;
}

.data-msg {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.msg-msg {
    font-size: 16px;
}

textarea {
    width: 100%;
    height: 80px;
    color: #000;
    border: 1px solid #000;
}

input[type=submit], input[type=button] {
    width: 90px;
    height: 40px;
    border: 1px solid #efefef;
    padding: 10px;
    text-align: center;
}

    input[type=submit]:hover, input[type=button]:hover {
        background-color: #3CBD29;
        color: #fff;
        cursor: pointer;
    }
